<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <h1>Turrón Alemán</h1>
    <p><em>El Turrón alemán es uno de los postres tradicionales de Argentina que se adapta a cualquier ocasión, desde un cumpleaños hasta las fiestas de fin de año o al domingo familiar.</em></p>
    <p><strong>Manos a la Obra para hacerlo!</strong></p>
    <hr>
    <h2>Ingredientes</h2>
    <ul>
        <li>3 paquetes de galletas de agua</li>
        <li>200 gramos de manteca</li>
        <li>100 gramos de chocolate en barra</li>
        <li>40 gramos de cacao dulce (opcional)</li>
        <li>200 gramos de azúcar</li>
        <li>250 gramos de avena de cocción rápida</li>
        <li>3 o 4 cucharadas de dulce de leche (opcional)</li>
    </ul>
    <h2>Pasos a Seguir</h2>
    <ol>
        <li>Primero, en una olla a baño María y fuego bajo, derrite la manteca junto y el chocolate en barra. Si quieres, añade un chorro de leche.</li>
        <li>Luego, añade el dulce de leche y mezcla bien. También, suma el cacao, el azúcar y la avena.</li>
        <li>Deja cocinar la preparación por unos 3 o 4 minutos, revolviendo constantemente para evitar que se pegue en el fondo.</li>
        <li>A continuación, en una fuente o plato, coloca capas de galletas de agua y capas de la preparación, de manera alternada.</li>
        <li>Termina el turrón de avena con una capa de preparación y llevá a la heladera por una hora, o reserva en el freezer por unos minutos.</li>
        <li>Por último, si quieres, decora con coco rallado, nueces o almendras picadas.</li>
    </ol>
<a href="https://www.diariouno.com.ar/recetas/turron-aleman-la-receta-del-postre-avena-sabrosisimo-y-chocolatoso-n1349354" target="_blank">Ver la Receta en la Página del Diario UNO</a><br>
<a href="pollo_al_disco.html">Ya tenemos el Postre, hagamos algo rico de comer? Tenemos una Receta de Pollo al Disco Genial para vos!</a> <br>

<a href="../../index.html">Ir al Inicio</a>
</body>
</html>