<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Pollo al Disco</h1>
<img src="../img/pollo-al-disco.jpg" alt="Riquisimo Pollo al Disco"width="500" height="250">
<p><em>El pollo al disco, conocido mundialmente como «chicken á la disk», es un receta bien nuestra que nació de la creatividad campera.</em></p>
<p><strong>Vamos a ver como se hace!!</strong></p>
<hr>
<h2>Ingredientes</h2>
<ul>
    <li>2 pollos de campo grandes</li>
    <li>6 chorizos</li>
    <li>2 cebollas grandes</li>
    <li>1 morrón colorado</li>
    <li>1 morrón amarillo</li>
    <li>2 zanahorias</li>
    <li>1/2 litro caldo de ave</li>
    <li>1/2 litro puré de tomate</li>
    <li>Cantidad necesaria de pimentón dulce y de hojas de laurel</li>
    <li>Cantidad necesaria de vino blanco o cerveza rubia</li>
    <li>Sal y pimienta  a gusto</li>
</ul>

<h2>Modo de Preparación</h2>
<ol type="I">
    <li>Precalentar bien el disco de arado</li>
    <li>Rociar el disco con aceite de oliva</li>
    <li>dorar el pollo junto con 6 chorizos, unos 20 minutos, girándolos</li>
    <li>Reservar</li>
    <li>Dorar en el mismo aceite dos cebollas, un pimiento colorado y uno amarillo (todo cortado en juliana) y dos zanahorias cortadas en rodajas finas.</li>
    <li>Levantar el fondo de cocción con vino blanco o cerveza (dejar evaporar bien el alcohol)</li>
    <li>Agregar medio litro de caldo de ave y 500 cm3 de puré de tomate</li>
    <li>Agregar el pollo y los chorizos, previamente sellados y dorado</li>
    <li>Condimentar con pimentón dulce, hojas de laurel, sal y pimenta a gusto</li>
    <li>Mezclar bien, tapar y cocinar unos 25 minutos más, hasta que espese la salsa</li>
    <li>Acompañar con papas rústicas al horno o con arroz previamente cocido</li>

</ol>
<br>
<br>
<iframe width="500" height="250" src="https://www.youtube.com/embed/-lSEUaUdKdE" title="Mi receta de Pollo al disco con Papas (solo tenía pollo, papas y fuego)  - Paulina On Fire" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>
<a href="https://placeresencubiertos.com.ar/la-historia-del-pollo-al-disco/" target="_blank">Ver la Receta en la página de "Placeres Encubiertos"</a> <br>
<a href="../views/turron_aleman.html">Vamos a ver la receta del Turrón Alemán</a> <br>
<a href="../../index.html">Ir al Inicio</a>
</body>
</html>

